In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
reviews = pd.read_csv('tripadvisor_hotel_reviews.csv')

In [4]:
reviews.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [5]:
reviews = reviews.drop('Rating', axis=1)

In [6]:
text_data = '\n'.join(reviews['Review'].astype(str))

# Write the string to a text file
with open('reviews.txt', 'w', encoding='utf-8') as file:
    file.write(text_data)