In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
retail = pd.read_csv('Retail_Transactions_Dataset.csv')

In [3]:
retail.head()

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2020-12-21 19:42:52,Cheyenne Newman,['Hair Gel'],6,12.77,Debit Card,New York,Convenience Store,True,Student,Winter,None
1,1000000001,2020-07-06 07:45:16,Emily Fitzgerald,"['Tuna', 'Bread', 'Tissues', 'Trash Bags']",5,13.88,Debit Card,Houston,Supermarket,False,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2021-10-02 06:28:44,Michael Webb,"['Jam', 'Soap', 'Ketchup']",7,47.02,Debit Card,Miami,Convenience Store,False,Young Adult,Winter,None
3,1000000003,2022-01-10 05:39:02,Kimberly Lin,['BBQ Sauce'],9,83.86,Mobile Payment,Seattle,Warehouse Club,True,Senior Citizen,Summer,Discount on Selected Items
4,1000000004,2021-10-13 07:28:47,Cathy Hernandez,"['Hand Sanitizer', 'Bread', 'Extension Cords',...",4,30.55,Debit Card,Houston,Warehouse Club,False,Senior Citizen,Spring,None

In [4]:
retail.dtypes

Transaction_ID         int64
Date                  object
Customer_Name         object
Product               object
Total_Items            int64
Total_Cost           float64
Payment_Method        object
City                  object
Store_Type            object
Discount_Applied        bool
Customer_Category     object
Season                object
Promotion             object
dtype: object

In [5]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Transaction_ID     30000 non-null  int64
 1   Date               30000 non-null  object
 2   Customer_Name      30000 non-null  object
 3   Product            30000 non-null  object
 4   Total_Items        30000 non-null  int64
 5   Total_Cost         30000 non-null  float64
 6   Payment_Method     30000 non-null  object
 7   City               30000 non-null  object
 8   Store_Type         30000 non-null  object
 9   Discount_Applied   30000 non-null  bool
 10  Customer_Category  30000 non-null  object
 11  Season             30000 non-null  object
 12  Promotion          30000 non-null  object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 2.8+ MB

In [6]:
retail_reduced = retail.iloc[:5000]

In [7]:
retail_reduced.to_csv('retail.csv', index=False)